.form {
    width: 100%;
    padding: 30px 30px;
    margin: 15px 0;
    background-color: black;
}

.form h5 {
    margin-bottom: 0.5em;
}

.form_block {
    width: 100%;
    margin: 15px 0;
}

.form_block.mod input,
textarea,
select {
    width: 50%;
    border-style: solid;
    border-color: #0fd62d;
    border-width: 3px;
    background-color: #f2f2f2;
}